/* App.css */

.App {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39393d;
  color: white;
  padding: 5px 20px;
}

.navbar-logo img {
  width: 65px;
  margin-left: 10px;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.menu-button img {
  width: 40px;
}

.content-section {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-section .content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.content-section p {
  text-align: justify;
  text-justify: inter-word;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.content img {
  max-width: 100%;
  height: auto;
}

.conteudo2 {
  max-width: 800px;
  margin-top: 20px;
}

.conteudo2 img {
  max-width: 100%;
  height: auto;
}

.paragrafo p {
  text-align: justify;
  text-justify: inter-word;
}

.paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo2 {
  background-color: "#F0F0F0";
}

.content-section2 {
  display: flex;
  justify-content: flex-end; /* Alinha a div no canto direito */
  max-width: 800px;
  margin-left: auto; /* Adiciona margem à esquerda para empurrar para o canto direito */
}

.content-section2 {
  background-color: #f0f0f0; /* Define a cor de fundo cinza */
  padding: 20px; /* Adiciona um espaçamento interno para separar o conteúdo do fundo */
  width: 100%; /* Define a largura da div como 100% para ocupar todo o espaço disponível */
  box-sizing: border-box; /* Garante que a largura definida inclua o padding */
  display: flex;
  justify-content: flex-end; /* Alinha a div no canto direito */
  max-width: 800px; /* Define uma largura máxima para a div */
  margin-left: auto; /* Adiciona margem à esquerda para empurrar para o canto direito */
}

.content-section2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  max-width: 800px;
  padding-left: 20px; /* Adiciona um padding à esquerda para alinhar com a imagem */
}

.content2 h2 {
  text-align: left; /* Alinha o título à esquerda */
}

.content2 p {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .content2 {
    max-width: 90%;
  }
}
