/* App.css */

.App {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 20px;
}

.navbar-logo img {
  width: 65px;
  margin-left: 10px;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.menu-button img {
  width: 40px;
}

.content-section {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-section .content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.content-section p {
  text-align: justify;
  text-justify: inter-word;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.content img {
  max-width: 100%;
  height: auto;
}

.conteudo2 {
  max-width: 800px;
  margin-top: 20px;
}

.conteudo2 img {
  max-width: 100%;
  height: auto;
}
