@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.App {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39393d;
  color: white;
  padding: 5px 20px;
  position: fixed;
}

.navbar-logo img {
  width: 65px;
  margin-left: 10px;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.menu-button img {
  width: 40px;
}

.content-section {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-section .content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.content-section p {
  text-align: justify;
  text-justify: inter-word;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.content img {
  max-width: 100%;
  height: auto;
}

.conteudo2 {
  max-width: 800px;
  margin-top: 20px;
}

.conteudo2 img {
  max-width: 100%;
  height: auto;
}

.paragrafo p {
  text-align: justify;
  text-justify: inter-word;
}

.paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo2 {
  background-color: "#F0F0F0";
}

.content-section2 {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  max-width: 800px;
  padding-left: 20px;
}

.content2 h2 {
  text-align: left;
}

.content2 p {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .content2 {
    max-width: 90%;
    padding-left: 10px;
  }
}

.content-section2 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
  text-align: center;
}

.content-section h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
}

.tabelaH2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
}

.content-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloListaImagens {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
}

.Acordion h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
}

.tituloTabelaDados {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #525257;
}
